[core]
	editor = code --wait
[credential]
	helper = store
[users]
	url = https://gist.githubusercontent.com/ben-hoggan/f3401d9568a655453bf5d5e702169067/raw/
[alias]
	iam = !git-iam
[user]
	email = skljdfsd@gmail.com
	name = kyle-skaxx
